<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".comman.GlobalAcesss"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OLXPROJECT"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Seller.Pincodelist_Activity"
            android:exported="false" />
        <activity
            android:name=".Seller.EnterSellinPrice_Activity"
            android:exported="false" />
        <activity
            android:name=".Seller.UploadGuide_Activity"
            android:exported="false" />
        <activity
            android:name=".Seller.Uploadcarimage_Activity"
            android:exported="false" />
        <activity
            android:name=".Buyer.PhotosActivity"
            android:exported="false" />
        <activity
            android:name=".Seller.CitylistActivity"
            android:exported="false" />
        <activity
            android:name=".Buyer.CarDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Seller.Carinfo_activity"
            android:exported="false" />
        <activity
            android:name=".Seller.SellCarActivity"
            android:exported="false" />
        <activity
            android:name=".startapp.ResetpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".startapp.TeamsActivity"
            android:exported="false" />
        <activity
            android:name=".startapp.NewAccount_Activity"
            android:exported="false" />
        <activity
            android:name=".startapp.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".startapp.LaunchingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>